h1 {
    position: relative;
    left: 40%;
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
    color: paleturquoise;
}


 @keyframes pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: rotate (45deg);
        background: goldenrod;
    }

    75% {
        transform: rotate(90deg);
        background: blueviolet;
    }
    
    100%{
        transform: rotate(0);
    }
 }


.box {
    position: relative;
    width: 400px;
    height: 400px;
    background: paleturquoise;
    animation-name: pop;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 2;
    overflow: hidden;
    margin: auto;
}